.parallax
{
background-image:url("project.jpg");
height:100%;
width:100%;
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}
form
{
border: 3px solid #f1f1f1;
}
body{
background-color:grrey;
}